@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<canvas id="bar"></canvas>

@section Scripts{
    <script type="text/javascript">
        var barChart = document.getElementById('bar').getContext('2d');
        var mybarChart = new Chart(barChart, {
            type: 'bar', 
            data: {
                labels:['001', '002', '003', '004', '005', '006', '007'],
                datasets: [{
                    label: 'Bar Chart',
                    data:[100, 200, 300, 400, 500, 600, 700],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.5)',
                        'rgba(255, 159, 64, 0.5)',
                        'rgba(255, 205, 86, 0.5)',
                        'rgba(75, 192, 192, 0.5)',
                        'rgba(54, 162, 235, 0.5)',
                        'rgba(153, 102, 255, 0.5)',
                        'rgba(201, 203, 207, 0.5)'
                    ],
                    borderColor: [
                        'rgb(255, 99, 132)',
                        'rgb(255, 159, 64)',
                        'rgb(255, 205, 86)',
                        'rgb(75, 192, 192)',
                        'rgb(54, 162, 235)',
                        'rgb(153, 102, 255)',
                        'rgb(201, 203, 207)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks:{
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
    </script>
}